<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BlackBoard</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <%- include('header') %> 
    
    <div id="wrapper">

      <!-- Sidebar -->
      <%- include('sidebar') %>
      
      <div id="content-wrapper">

        <div class="container-fluid">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Objet</th>
                <th scope="col">Expediteur</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <% for (var i = 0; i < usersList.messages.length; i++){ %> 
              <tr>
                <% if ( usersList.messages[i].read == false ){ %> 
                <td><i class="fas fa-envelope"></i></td>
                <% } else { %>
                  <td><i class="far fa-envelope-open"></i></td>
               <% } %> 
                <td><%= usersList.messages[i].title %></td>
                <td><%=  usersList.messages[i].sender %></td>
                <td><%=  usersList.messages[i].dateExp %></td>
              </tr>
              <% } %> 
              <!-- <tr>
                <td><i class="fas fa-envelope"></i></td>
                <td>Question sur la trotinette M365</td>
                <td>matt@gmail.com</td>
                <td>18/01/19</td>
              </tr>
              <tr>
                <td><i class="far fa-envelope-open"></i></td>
                <td>Avez vous le modèle Dualtron Thunder ?</td>
                <td>jerome@gmail.com</td>
                <td>06/01/19</td>
              </tr>
              <tr>
                <td><i class="far fa-envelope-open"></i></td>
                <td>Livraison avant Noël ?</td>
                <td>zoe@hotmail.com</td>
                <td>20/12/18</td>
              </tr>
              <tr>
                <td><i class="far fa-envelope-open"></i></td>
                <td>Problème de batterie sur ma trottinette</td>
                <td>jeff@hotmail.com</td>
                <td>18/01/19</td>
              </tr> -->
            </tbody>
          </table>


          </div>


        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Blackboard</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

  </body>

</html>
