<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BlackBoard</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

  <%- include('header') %> 

    <div id="wrapper">

      <!-- Sidebar -->
      <%- include('sidebar') %>

      <div id="content-wrapper">

        <div class="container-fluid">

          <div class="list-group">
            <% for (var i = 0; i < usersList.tasks.length; i++) {%> 
            <a href="#" class="list-group-item list-group-item-action <% if( usersList.tasks[i].dateCloture !== null ){%>list-group-item-success <%}else if(  usersList.tasks[i].dateCloture == null && usersList.tasks[i].dateCloture <  new Date() ){%> list-group-item-danger<% } %>  ">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= usersList.tasks[i].category %> </h5>
                  <small>Date de la demande: <%= dateFormat(usersList.tasks[i].dateInsert) %></small>
                </div>
                <p class="mb-1"><%= usersList.tasks[i].name %></p>
                <% if (usersList.tasks[i].dateCloture == null && usersList.tasks[i].dateCloture <  new Date()){ %> 
                  <small><i class="fas fa-exclamation-circle"></i> Echéance dépassée : <%= dateFormat(usersList.tasks[i].dateDue)%></small>
              <% }else if (usersList.tasks[i].dateCloture !== null){ %> 
                <small><i class="fas fa-check-square"></i> Cloturée le: <%= dateFormat(usersList.tasks[i].dateCloture)%></small>
               <% }else{ %><small>Echéance le: <%= dateFormat(usersList.tasks[i].dateDue)%></small> <% } %>  
            </a>
            <% } %> 
            <!-- <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Retour marchandise</h5>
                  <small>Date de la demande: 19/01/2019</small>
                </div>
                <p class="mb-1">Le client 655545 souhaite un remboursement intergale de sa commande</p>
                <small><i class="fas fa-exclamation-circle"></i> Echéance dépassée : 21/01/2019</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Problème avec le transporteur</h5>
                  <small>Date de la demande: 14/01/2019</small>
                </div>
                <p class="mb-1">Contacter urgement le transporteur DHL car problème dans le suivi des commandes du lot 6675</p>
                <small><i class="fas fa-check-square"></i> Cloturée le: 18/01/2019</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Retour client</h5>
                  <small>Date de la demande: 3/01/2019</small>
                </div>
                <p class="mb-1">Le client 33467 souhaite un remboursement partiel de sa commande 755687</p>
                <small><i class="fas fa-check-square"></i> Cloturée le: 5/01/2019</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Delais livraison marchandise </h5>
                  <small>Date de la demande: 29/12/2018</small>
                </div>
                <p class="mb-1">Contacter le transporteur pour valider avec lui la date de la livraison de la marchandise</p>
                <small><i class="fas fa-check-square"></i> Cloturée le: 30/12/2018</small>
            </a> -->

          </div>


        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Blackboard</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

  </body>

</html>
